<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.organizerkorepetytora">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- <activity android:naactivities.MainActivityvity"> -->
        <activity android:name="activities.MainActivity"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="activities.FirstScreenActivity"
            android:theme="@style/MyTheme"/>
        <activity android:name="activities.AddUserActivity"
            android:theme="@style/MyTheme"/>
        <activity android:name="activities.ListGroupInLessonActivity"
            android:theme="@style/MyTheme"/>
        <activity android:name="activities.AddLessonActivity"
            android:theme="@style/MyTheme"/>
        <activity android:name="activities.ListStudentPaymentActivity"
            android:theme="@style/MyTheme"/>
        <activity android:name="activities.PaymentActivity"
            android:theme="@style/MyTheme"/>
        <activity android:name="activities.AddPaymentActivity"
            android:theme="@style/MyTheme"/>
        <activity android:name="activities.ListGroupActivity"
            android:theme="@style/MyTheme"/>
        <activity android:name="activities.GroupOptionsActivity"
            android:theme="@style/MyTheme"/>
        <activity android:name="activities.EditGroupActivity"
            android:theme="@style/MyTheme"/>
        <activity android:name="activities.ListGroupLessonsActivity"
            android:theme="@style/MyTheme"/>
        <activity android:name="activities.ViewLessonActivity"
            android:theme="@style/MyTheme"/>
        <activity android:name="activities.ListStudentsActivity"
            android:theme="@style/MyTheme"/>
        <activity android:name="activities.AddStudentActivity"
            android:theme="@style/MyTheme"/>
        <activity android:name="activities.ListNotesActivity"
            android:theme="@style/MyTheme"/>
        <activity android:name="activities.AddNoteActivity"
            android:theme="@style/MyTheme"/>
        <activity android:name="activities.ViewNote"
            android:theme="@style/MyTheme"/>
        <activity android:name="activities.ViewStudent"
            android:theme="@style/MyTheme"/>
        <activity android:name="activities.LessonEditActivity"
            android:theme="@style/MyTheme"/>
        <activity android:name="activities.AddGroupActivity"
            android:theme="@style/MyTheme"></activity>
        <activity android:name="activities.SettingsActivity"
            android:theme="@style/MyTheme"></activity>
    </application>

</manifest>